.carousel {

   height: 150px; 
  margin: 0 auto;
width: auto;
  overflow: hidden;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.carousel-image {
width:100%;
  height: 150px;         /* Fixed height for uniformity */
  object-fit:fill;

}





